
.container {
    background: linear-gradient(to bottom,#f5fbfb, #d1ede9);
    max-width:  100%; 
    height: 100%;
    font-size: 24px;
    
  }
  
h1 img {
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 50px;
  }
html, body {
    height: 100%;
  }

  .site-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-height: 100vh;
    margin-left:15%;
    max-width:100%;
    
  }
  
  .content-wrapper {
    flex-grow: 1;
    background-color: #f5f8f8;
    border-top: 1px solid #17c99f;
    }

  .app-icon {
    width: 70px; 
    height: 70px;
    transition: transform 0.3s ease;
  }
  .image-with-margin{
    height:80px;
    margin-top: 50px;
  }
  
  .nav-item a:hover {
    color: #e47e17;
  }
  .footer-text {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #333;
  }
  .navbarNav{
    background-color: #e8f1f1;
    border: #333;
  }
  .container-scroll {
    overflow-y: auto;
    max-height: 800px; /* Adjust the max height as needed */
  }
 
  .sidenav {
        height: 100%; /* Set the height to 100% to cover the entire viewport */
        width: 280px; /* Set the width of the side navigation */
        position: fixed; /* Fixed position - stay in place even when scrolling */
        z-index: 1; /* Stay on top of everything */
        top: 0; /* Position the side navigation at the top */
        left: 0;
        background-color: #f1f1f1; /* Add a background color */
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 20px; /* Add padding to the top */
        border-right: 1px solid #c2c0be; /* Add a border color */
       
        
      }
      
      /* Style the navigation links */
      .sidenav a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 20px;
        color: #131212;
        display: block;
      
      }
      
      /* Change the link color on hover */
      .sidenav a:hover {
        color: #cf6e0d;
      }
      .card-body:hover {
        transform: scale(1.05); /* Increase the scale factor to make it more pronounced */
      }
      .card-row {
        display: flex;
        
      }
      .card {
        width: 320px;
        padding: 20px;
        border: 1px solid #50e5dd;
        border-radius: 30px;
      }
      .notification {
        color: white;
        text-decoration: none;
        padding: 15px 26px;
        position: relative;
        display: inline-block;
       
      }
      
      
      .notification .badge {
        position: absolute;
        top: -10px;
        right: -10px;
        padding: 5px 10px;
        border-radius: 50%;
        color: white;
      }
      
  


  
  